{% extends 'base.html' %}
{% block title %} Password Change {% endblock %}

{% block content %}

<div class="container mt-4">
    <h1>Password Change</h1>

        <form action="" method="post" class="shadow rounded p-4">
            {% csrf_token %}
            {{ form.as_p }}
            <ul>
                <li>
                    Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.
                </li>
                <li>
                    Votre mot de passe doit contenir au minimum 8 caractères.
                </li>
                <li>
                    Votre mot de passe ne peut pas être un mot de passe couramment utilisé.
                </li>
                <li>
                    Votre mot de passe ne peut pas être entièrement numérique.
                </li>
            </ul>
            <button type="submit" class="btn btn-secondary">Password Change</button>
        </form>
    

</div>

{% endblock %}