{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<nav class="navbar navbar-expand-lg navbar-light bg-gradient pb-0 pt-0 shadow">
    <div class="container-fluid">
        <!-- NAVBAR BRAND AND HOME-PAGE LINKE -->
        <a class="navbar-brand" href="{% url 'home' %}" data-aos="fade-right" data-aos-offset="300"
            data-aos-easing="ease-in-sine">
            <img src="{% static 'media/logo/NLS-directory.svg' %}" width="230" alt="NLS-Directory">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav {% if LANGUAGE_CODE == 'ar' %} ml-auto {% else %} mr-auto {% endif %} mb-2 mb-lg-0">

                {% if request.user.is_authenticated %}
                <!-- ADD ORG -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/add_org/' %} active {% endif %}" aria-current="page"
                        href="{% url 'add_org' %}">
                        Add Org
                    </a>
                </li>
                <!-- UPLOAD DATA FROM EXCEL FILE -->
                <li class="nav-item">
                    <a class="nav-link {% if request.path == '/simple_upload/' %} active {% endif %}"
                        aria-current="page" href="{% url 'simple_upload' %}">
                        Upload data from Excel
                    </a>
                </li>
                {% endif %}

            </ul>


            <ul class="navbar-nav {% if LANGUAGE_CODE == 'ar' %} mr-auto {% else %} ml-auto {% endif %} mr-4 mb-lg-0">
                <!-- ABOUT -->
                <li class="nav-item">
                    <a class="nav-link  {% if request.path == '/about/' %} active {% endif %}"
                        aria-current="page" href="{% url 'about' %}" data-aos="zoom-in">
                        About NLS
                    </a>
                </li>

                <!-- CONTACT -->
                <li class="nav-item">
                    <a class="nav-link  {% if request.path == '/contact/' %} active {% endif %}"
                        aria-current="page" href="{% url 'contact' %}" data-aos="zoom-in">Contact</a>
                </li>

                <!-- MY CART DETAIL -->
                {% if cart_orgs|length > 0 %}
                <li class="nav-item">
                    <a class="nav-link nav-link-my-cart rounded {% if request.path == '/cart/' %} active {% endif %}"
                        aria-current="page" href="{% url 'cart:cart_detail' %}" data-aos="zoom-in">
                        <span class="animate__animated animate__pulse">
                            MyCart ({{cart_orgs|length}})
                        </span>
                    </a>
                </li>
                {% endif %}

                {% if request.user.is_authenticated %}
                <!-- USER SIDE  -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-expanded="false">
                        Welcome : {{ request.user.username }} <img src="{{ request.user.profile.picture.url }}"
                            alt="{{ request.user.username }}" width="50" class="rounded">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'password_change' %}">Password Change</a></li>
                        <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% endif %}


            </ul>
        </div>
    </div>
</nav>