{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

<title> {% block title %} About NLS {% endblock %} </title>

{% block content %}
<div class="container about pt-4 mt-4 mb-5">
    <h1 class="mt-4 mb-4" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">About NLS</h1>

    <div class="row" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <div class="col-lg-6 col-sm-12">
            <p>Our goal is that NLS reaches out the Laser Sensor Technology to 1/6 of the world’s population in the
                coming 10 years.
            </p>
            <p>
                In order for us to achieve this goal, we have created a search engine and an assistance and evaluation
                system for the laser sensor products and laser sensor manufacturers. Such services offered by NLS are
                useful for both top experts and those with less experience in the field of laser sensors. We are also
                working on creating an integral platform for the technology of laser sensors which allows everyone to
                virtually choose their projects and the required laser sensors for them based on facts and factual
                evaluations.
            </p>
            <p>
                Furthermore, we want to prove that laser sensor technology and its applications do not entail a lot of
                money to be acquainted with. What we need to stress on, nevertheless, is that NLS does not produce laser
                sensors, rather, it assists in demarcating the future course of the laser sensor technology and its
                applications.
            </p>
            <p>
                NLS constantly follows all updates in the field of laser sensor technology and traces closely on daily
                basis the performance of the laser sensor manufacturers, so that we are able to quickly update our
                services according to any new developments in the field.
            </p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <p>
                In order for us to ensure our customers’ trust in NLS and to make sure of the effectiveness and
                continuity of the services offered by us, we have created the laser sensor products evaluation system
                and created a confidence index of their manufacturers. It is NLS’s conviction, that the more the people
                refer to confidence indices, the better the results are in ensuring effectiveness for both customers and
                manufacturers. And this is just the beginning, through the creation of NLS’s integral and facts-based
                platform, it continues to offer data and make this data rightfully available for everyone.
            </p>
            <p>
                Our goal users are those looking for price offers and projects management and project team members. In
                this way, you can get the best offers and best evaluation and research results through coordinated PDF
                files which do not entail any additive information on the part of the project managers. All this leads
                quickly to an integration of NLS data platform and all the laser sensor manufacturers and consumers in
                order for us all to reach a wide-range international spread. This is because with you and through you,
                we become much stronger: this is the future we are demarcating at the moment.
            </p>
        </div>
    </div>
    <div class="mb-4" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <h2 class="mb-4">Our Free Services which will remain Free</h2>
        <div class="pl-3">
            <p>
                <i class="fas fa-check-square mr-3"></i>
                NLS offers an integral search engine system in addition to search assistance
            </p>
            <p>
                <i class="fas fa-check-square mr-3"></i>
                Numerous product comparisons with the ability to hyperlink directly to the product and the
                Manufacturer’s
                websites.
            </p>
            <p>
                <i class="fas fa-check-square mr-3"></i>
                Product evaluation taking into consideration that the evaluation is one of the primal filters of the
                search
                and product comparison.
            </p>
            <p>
                <i class="fas fa-check-square mr-3"></i>
                Confidence index service which is directly linked to the search engine and comparison systems.
            </p>
            <p>
                <i class="fas fa-check-square mr-3"></i>
                Product ticket service which contains the most important specific details of a product and its
                manufacturer.
            </p>
            <p>
                <i class="fas fa-check-square mr-3"></i>
                Laser sensor technology and application multi-lingual glossary.
            </p>
            <p>
                <i class="fas fa-check-square mr-3"></i>
                PDF file service which produces automatically a Pdf file containing all the data of search and
                comparison a
                user has compiled.
            </p>
        </div>
    </div>




</div>
{% endblock %}