{% extends 'base.html' %}
{% load static i18n crispy_forms_tags %}

<title> {% block title %} Data Policy {% endblock %} </title>

{% block content %}
<!-- class="text-decoration-none" -->
<div class="container">
    <div class="uk-panel uk-margin">
        <h1>Privacy Policy</h1>
        <h3>Introduction</h3>
        <p>Thank you for your interest in our website. The protection of your personal data is important to us. Below
            you will find information about how we handle your data that is collected through your use of our website.
            Your data will be processed in accordance with the legal data protection regulations.</p>
        <h3>Controller within the meaning of data protection law</h3>
        <p>National Laser Sensor / Dipl.Ing. Ammar Alkhatib<br />Tassiloweg 18<br />85737 Ismaning<br /><a
                href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#111;&#58;&#65;&#109;mar&#x2e;&#x61;&#x6c;&#x6b;&#x68;&#x61;&#116;&#105;&#98;&#64;nl&#x73;&#x2d;&#x63;&#x68;&#x65;&#x63;&#107;&#46;&#99;&#111;m">&#x41;&#109;&#x6d;&#x61;&#114;&#x2e;&#x61;&#108;&#x6b;&#x68;&#97;&#x74;&#x69;b&#x40;&#x6e;l&#x73;&#45;c&#x68;&#101;c&#x6b;&#46;c&#x6f;&#109;</a><br />Phone:
            +49 (0) 152 279 526 41</p>
        <h3>Data Protection Officer</h3>
        <p>Proliance GmbH / <a href="https://www.datenschutzexperte.de" target="_blank"
                rel="noopener">www.datenschutzexperte.de</a><br />Datenschutzbeauftragter<br />Leopoldstr. 21<br />80802
            Munich<br /><a
                href="ma&#105;&#108;&#116;&#x6f;&#x3a;&#x64;&#x61;te&#110;&#115;&#99;&#x68;&#x75;&#x74;&#x7a;be&#97;&#117;&#102;&#x74;&#x72;&#x61;&#x67;te&#114;&#64;&#100;&#x61;&#x74;&#x65;&#x6e;sc&#104;&#117;&#116;&#x7a;&#x65;&#x78;&#x70;er&#116;&#101;&#46;&#x64;&#x65;"
                rel="noopener">&#100;&#x61;t&#101;&#x6e;&#115;&#x63;h&#117;&#x74;z&#x62;&#x65;&#97;&#x75;f&#116;&#x72;a&#x67;&#x74;&#101;&#x72;&#64;&#100;&#x61;&#116;&#x65;n&#115;&#x63;h&#117;&#x74;&#122;&#x65;x&#112;&#x65;r&#x74;&#x65;&#46;&#x64;e</a>
        </p>
        <h3>Definitions</h3>
        <p>Our privacy policy should be simple and understandable for everyone. For this reason, our privacy policy
            generally uses the official terms of the General Data Protection Regulation (GDPR). The official definitions
            are explained in Art. 4 GDPR.</p>
        <h3>Server- Logfiles</h3>
        <p>Once you visit our website, it is technically necessary that data is transmitted to our web server via your
            internet browser. The following data is recorded during an active connection for communication between your
            internet browser and our web server</p>
        <ul>
            <li>Date and time of the request</li>
            <li>Name of the requested file</li>
            <li>Page from which the file was requested</li>
            <li>Access status</li>
            <li>Web browser used and operating system used<br />(Full) IP address of the requesting computer</li>
            <li>Transmitted amount of data</li>
        </ul>
        <p>We collect the listed data in order to guarantee a frictionless connection establishment and to enable a
            comfortable use of our website by the users. The log file also serves for evaluating system security and
            stability as well as administrative purposes. The legal basis for the temporary storage of data or log files
            is Art. 6 para. 1 lit. f GDPR.</p>
        <p>For reasons of technical security, in particular to prevent attempts to attack our web server, we may
            temporarily store this data. It is not possible for us to draw conclusions about individual persons on the
            basis of this data. After 7 days at the latest, the data is made anonymous by shortening the IP address at
            domain level, so that it is no longer possible to establish a reference to the individual user. This data is
            not evaluated in anonymous form except for statistical purposes. This data is not combined with data from
            other data sources.</p>
        <h3>Cookies</h3>
        <p>Our website uses cookies which are stored on your device by the browser and contain certain settings for the
            use of the website (e.g. the current session). Cookies are used to make our website more user-friendly,
            effective and secure. Cookies are small text files that are stored on your computer and stored by your
            browser. Most of the cookies we use are so-called session cookies, which are automatically deleted after the
            browser is closed. Other cookies remain stored on your terminal device until you delete them, or the storage
            period expires.</p>
        <p>These cookies enable us to recognize your browser on your next visit. In some cases, cookies are used to
            simplify website processes by saving settings (e.g. settings that have already been made during previous
            visits). If personal data are also processed by individual cookies implemented by us, the processing is
            carried out in accordance with Art. 6 para. 1 lit. b GDPR either to fulfil the contract, or in accordance
            with Art. 6 para. 1 lit. f GDPR to safeguard our legitimate interests in the best possible functionality of
            the website and a customer-friendly and effective design of the site visit.</p>
        <p>In order to accept or refuse all or certain cookies, you can set up your browser to inform you when cookies
            are set. You can also activate the automatic deletion of cookies when closing the browser. The cookie
            settings for the respective browsers can be customised under the following links:<br />Firefox: <a
                href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences"
                target="_blank"
                rel="noopener">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a>
            <br />Internet Explorer: <a href="http://windows.microsoft.com/de-DE/windows-vista/Block-or-allow-cookies"
                target="_blank"
                rel="noopener">http://windows.microsoft.com/de-DE/windows-vista/Block-or-allow-cookies</a> <br />Chrome:
            <a href="http://support.google.com/chrome/bin/answer.py?hl=de&amp;hlrm=en&amp;answer=95647" target="_blank"
                rel="noopener">http://support.google.com/chrome/bin/answer.py?hl=de&amp;hlrm=en&amp;answer=95647</a><br />Safari:
            <a href="https://support.apple.com/kb/ph21411?locale=de_DE" target="_blank"
                rel="noopener">https://support.apple.com/kb/ph21411?locale=de_DE</a><br />Opera: <a
                href="http://help.opera.com/Windows/10.20/de/cookies.html" target="_blank"
                rel="noopener">http://help.opera.com/Windows/10.20/de/cookies.html</a></p>
        <p>You can also individually manage the cookies of many companies and functions that are used for advertising
            purposes. Details about the user tools are available at <a href="https://www.aboutads.info/choices/"
                target="_blank" rel="noopener">https://www.aboutads.info/choices/</a> or <a
                href="http://www.youronlinechoices.com/uk/your-ad-choices" target="_blank"
                rel="noopener">http://www.youronlinechoices.com/uk/your-ad-choices</a>.</p>
        <p>Most browsers also offer a &#8220;do-not-track- feature&#8221; This feature allows you to indicate that you
            do not want to be &#8220;tracked&#8221; by websites. When the function is activated, the browser will tell
            ad networks, websites and applications that you do not want to be tracked for the purpose of behaviour-based
            advertising and such like. For information and instructions on how to use this feature, see the links below:
            <br />Mozilla Firefox: <a href="https://www.mozilla.org/de/firefox/dnt/" target="_blank"
                rel="noopener">https://www.mozilla.org/de/firefox/dnt/</a><br />Internet Explorer: <a
                href="https://support.microsoft.com/en-gb/help/17288/windows-internet-explorer-11-use-do-not-track"
                target="_blank"
                rel="noopener">https://support.microsoft.com/en-gb/help/17288/windows-internet-explorer-11-use-do-not-track</a>
            <br />Google Chrome: <a
                href="https://support.google.com/chrome/answer/2790761?co=GENIE.Platform%3DDesktop&amp;hl=en-GB"
                target="_blank"
                rel="noopener">https://support.google.com/chrome/answer/2790761?co=GENIE.Platform%3DDesktop&amp;hl=en-GB</a>
            <br />Safari: <a href="https://support.apple.com/kb/PH21416?locale=de_DE" target="_blank"
                rel="noopener">https://support.apple.com/kb/PH21416?locale=de_DE</a><br />Opera: <a
                href="http://help.opera.com/Windows/12.10/de/notrack.html" target="_blank"
                rel="noopener">http://help.opera.com/Windows/12.10/de/notrack.html </a></p>
        <p>In addition, you can prevent the loading of scripts by default. NoScript allows you to run JavaScripts, Java
            and other plug-ins only on trusted domains of your choice. Information and instructions on how to use this
            function can be obtained from your browser&#8217;s provider (e.g. for Mozilla Firefox at: <a
                href="https://addons.mozilla.org/en-GB/firefox/addon/noscript/" target="_blank"
                rel="noopener">https://addons.mozilla.org/en-GB/firefox/addon/noscript/</a>). Please note that
            deactivating cookies may limit the functionality of this website.</p>
        <h3>Contact form and contact by email</h3>
        <p>If you send us requests via contact form or email, your details from the enquiry form or email, including the
            contact data you have provided there, will be saved for answering the purpose of the contact and possible
            further questions regarding your inquiry. You are required to provide an email address and your name to
            contact us. Under no circumstances will we pass on this data without your consent. The legal basis for
            processing the data is our legitimate interest in responding to your request pursuant to Art. 6 para. 1 lit.
            f GDPR and, if applicable, Art. 6 para. 1 lit. b GDPR, provided that your request is aimed at concluding a
            contract. Your data will be deleted after final processing of your request, provided that there are no legal
            storage obligations to the contrary. You can object to the processing of your personal data at any time in
            the case of Art. 6 para. 1 lit. f GDPR.</p>
        <h3>Search Assistant</h3>
        <p>If you want us to support you with finding the correct products you can use our search assistant. In this
            case we need you to provide us your Name, e-mail-address and a message with further information regarding
            details about the search you want us to assist. <br />The legal basis for processing the data is Art. 6
            para. 1 lit. b GDPR.</p>
        <p>Your data will be deleted after final processing of your request, provided that there are no legal storage
            obligations on the contrary.</p>
        <h3>Order Process</h3>
        <p>To create and receive your PDF list you do not have to provide any personal information except your own
            e-mail-address so we can send the final product to you. You are free to provide us with further information
            such as sender information details, receiver address, project name and project message. None of those are
            essential for the fulfilment of your order.</p>
        <p>The legal basis of the data processing is Art. 6 para. 1 lit. b GDPR and will only be used to create the very
            PDF list you designed. No further processing takes place.</p>
        <p>Your data will be deleted after final processing of our request approximately 3 hours after creation of the
            PDF list.</p>
        <h3>Use of Matomo</h3>
        <p>Using the web analysis service software Matomo (<a href="hhtps://www.matomo.org" target="_blank"
                rel="noopener">www.matomo.org</a>), a service provided by InnoCraft Ltd., 150 Willis St, 6011
            Wellingtion, NZ, on this website, data is collected and stored on the basis of our legitimate interest in
            the statistical analysis of user behaviour for optimisation and marketing purposes in accordance with Art. 6
            para. 1 lit. f GDPR.</p>
        <p>Using these data, pseudonymised user profiles can be created and evaluated for the same purpose. Cookies may
            be used to this end. Cookies are small text files that are stored locally in the cache of the visitor’s
            internet browser. Cookies enable inter alia the recognition of the internet browser. The data collected
            using Matomo technology (including your pseudonymised IP address) is processed on our servers. The
            information in the pseudonymous user profile generated by the cookie is neither used to identify the website
            visitor nor is it linked with the personal data on the bearer of the pseudonym. If you do not agree with the
            storage and evaluation of the data concerning your visit, you can object to its storage and usage by a mouse
            click in the following at any time In this case, a so-called opt-out cookie is stored in your browser, which
            means that Matomo does not collect any session data.</p>
        <p>Please note that the complete deletion of your cookies implicates the deletion of the opt-out cookie. It can
            be manually reactivated if needed.</p>
        <p>You have the possibility to prevent the analysis and connection of your transactions. This will protect your
            privacy, but also hinder the owner from learning from your activities and enhancing the operability for you
            and other users.</p>
        <p>For more information on the privacy settings of the Matomo software, see the following link (<a
                href="https://matomo.org/docs/privacy/" target="_blank"
                rel="noopener">https://matomo.org/docs/privacy/</a>).</p>
        <h3>External links</h3>
        <p>On our website Social Media (facebook, twitter, youtube and soundcloud) is embedded as a link to the
            respective service. After clicking on the embedded text/image-link you will be directed to the website of
            the respective provider. User information will in this case be transferred after the redirection to the
            respective provider. Information regarding the use of your personal data through the use of the website can
            be found in the privacy policies of the visited websites.</p>
        <h3>Twitter plugin</h3>
        <p>Our website uses features of the Twitter service. The provider is Twitter Inc, 1355 Market Street, Suite 900,
            San Francisco, CA 94103, USA.</p>
        <p>Twitter is a multilingual public microblogging platform on which users can publish and distribute
            &#8216;tweets&#8217; (short messages of 280 characters or fewer). These tweets can be accessed by everyone,
            including by people not registered with Twitter. Twitter enables users to communicate with a wide audience
            using hashtags, links and retweets.</p>
        <p>Every time you access one of the pages operated by the data controller and in which a Twitter component has
            been embedded, your browser will automatically download a copy of the Twitter component concerned onto your
            system. For more information on the Twitter timeline visit <a
                href="https://help.twitter.com/en/using-twitter/embed-twitter-feed" target="_blank"
                rel="noopener">https://help.twitter.com/en/using-twitter/embed-twitter-feed</a>.</p>
        <p>If you are at the same time logged in to your Twitter account then, every time you access the website on
            which the Twitter components are embedded, Twitter will know which pages of our website you visit. This
            information will be gathered by the Twitter components and assigned by Twitter to your Twitter account.</p>
        <p>If you have given us your consent, your data will be processed on the basis of Art. 6 para. 1 lit. a GDPR.
            You are free to withdraw your consent at any time with effect for the future.</p>
        <p>If when you access our website you are at the same time logged in to your Twitter account, Twitter will via
            these components be informed of your visit and this will happen regardless of whether you click on the
            Twitter components or not. If you do not wish this information to be shared with Twitter in this way, you
            should log out of your Twitter account before accessing our website.</p>
        <p>Since a transfer of personal data to the U.S. takes place, further appropriate safeguards are required to
            ensure the level of data protection under the GDPR. To guarantee this, we have concluded standard
            contractual clauses with the provider in accordance with Art. 46 Para. 2 lit. c GDPR.</p>
        <h3>Data Transfer and Recipients</h3>
        <p>Your personal data is not transferred to third parties, unless</p>
        <ul>
            <li>we have explicitly pointed this out in the description of the respective data processing.</li>
            <li>you have given your explicit consent in accordance with Art. 6 para. 1 sentence 1 lit. a GDPR,</li>
            <li>the transfer pursuant to Art. 6 para. 1 sentence 1 lit. f GDPR is necessary for the assertion, exercise
                or defence of legal claims and our legitimate interests are not overridden by your fundamental rights
                and freedoms.</li>
            <li>there is a legal obligation to transfer data pursuant to Art. 6 para. 1 sentence 1 lit. c GDPR, and</li>
            <li>required by Art. 6 para. 1 sentence 1 lit. b GDPR for the execution of contractual relationships with
                you.</li>
        </ul>
        <p>In addition, we use external service providers for the processing of our services, whom we have carefully
            selected and commissioned in writing. They are bound by our instructions and are regularly monitored by us.
            Required data processing agreements pursuant to Art. 28 GDPR are concluded before the commission. In
            particular, these contracts concern web hosting services, the dispatch of emails and IT updates and
            maintenance. Your personal data will not be transferred to third parties by our service providers.</p>
        <h3>Storage period</h3>
        <p>The period for which the personal data will be stored is determined by the relevant statutory storage periods
            (e.g. from commercial law and tax law). The corresponding data is deleted routinely upon expiry of the
            respective period. If data is required for the fulfilment of a contract or contract initiation, or if we
            have a legitimate interest in further storage, the data will be deleted if they are no longer required for
            these purposes or if you make use of your right of withdrawal or objection.</p>
        <h3>Your Rights</h3>
        <p>In the following, you will find information about your data subject rights, which the current data protection
            law grants you against the controller concerning the processing of personal data:</p>
        <p>The right, pursuant to Art. 15GDPR, to obtain information about your personal data processed by us. In
            particular, you may request information about the purposes of processing, the categories of personal data
            concerned, the categories of recipients to whom your data has been or will be disclosed, the envisaged
            period for which the data will be stored, the existence of the right to request from the controller
            rectification or erasure or personal data or restriction of processing of personal data concerning you or to
            object such processing, the existence of a right to lodge a complaint with a supervisory authority, the
            origin of your data, if these have not been collected by us, and the existence of automated decision-making
            including profiling and, if applicable, meaningful information about the logic involved, as well as the
            significance and the envisaged consequences.</p>
        <p>The right to obtain without undue delay the rectification of inaccurate personal data concerning you. in
            accordance with Art. 16 GDPR.</p>
        <p>The right to request the erasure of your personal data stored by us in accordance with Art. 17 GDPR, unless
            the processing is necessary to exercise the right of freedom of expression and information, to fulfil a
            legal obligation, for reasons of public interest or to assert, exercise or defend legal claims.</p>
        <p>The right, pursuant to Art. 18 GDPR, to demand the restriction of the processing of your personal data if the
            accuracy of the data is contested by you, the processing is unlawful, but you oppose the erasure and we no
            longer need the data for the purposes of processing, but they are required by you for the establishment,
            exercise or defence of legal claims or you have filed an objection against the processing pursuant to Art.
            21 GDPR.</p>
        <p>The right, in accordance with Art. 20 GDPR, to receive the personal data concerning you, which you have
            provided to us in in a commonly used and machine-readable format and the right to transmit those data to
            another controller.</p>
        <p>The right to withdraw your given consent pursuant to Art. 7 para. 3 GDPR with effect in the future at any
            time.</p>
        <p>The right to lodge a complaint with a supervisory authority pursuant to Art. 77 GDPR, in particular in the
            Member State of your habitual residence, place of work.</p>
        <p>The right to withdraw your given consent pursuant to Art. 7 para. 3 GDPR: You have the right to withdraw your
            given consent concerning the processing of your personal data with effect for the future at any time. In the
            event of withdrawal, we will delete the data concerned without delay, unless further processing can be based
            on a legal basis for processing without consent. The withdrawal of consent shall not affect the lawfulness
            of processing based on consent before its withdrawal</p>
        <h3>Right to object</h3>
        <p>If your personal data is processed by us based on legitimate interests pursuant to Art. 6 para. 1 lit. f
            GDPR, you have the right, pursuant to Art. 21 GDPR, to object at any time to the processing of your personal
            data on grounds relating to your particular situation. If the objection is directed against the processing
            of personal data for the purpose of direct marketing, you have a general right of objection without the
            requirement of stating a particular situation.</p>
        <p>If you wish to exercise your right of withdrawal, objection or any of your other rights, simply send an
            e-mail to <a
                href="&#x6d;&#x61;&#x69;&#108;&#116;o:&#x41;&#x6d;&#x6d;&#97;&#114;&#46;a&#x6c;&#x6b;&#x68;&#97;&#116;ib&#x40;&#x6e;&#x6c;&#115;&#45;ch&#x65;&#x63;&#x6b;&#46;&#99;om">&#x41;&#x6d;&#x6d;&#97;&#114;&#46;a&#x6c;&#x6b;&#x68;&#97;&#116;ib&#x40;&#x6e;&#x6c;&#115;&#45;ch&#x65;&#x63;&#x6b;&#46;&#99;om</a>.
        </p>
        <h3>Subject to change</h3>
        <p>We reserve the right to adapt or update this privacy policy, if necessary, in compliance with the applicable
            data protection regulations. In this way, we can adapt it to the current legal requirements and take account
            of changes to our services, e.g. the introduction of new services. The most current version applies to your
            visit.</p>
        <p>Status of this privacy policy: 19.08.2020</p>
    </div>

</div>

{% endblock %}